@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
 
} 
.table {
  margin: 0 auto;
  text-align: center;
  
}

.visual-wrapper {
  color: rgb(255, 255, 255);
  padding-top:  5px;
  max-width: 100%;
}
#playground {
  width: 80%;
}
#grid {
  border-collapse: collapse;
  margin: 0 auto;
}
.separator {
  border-left: solid 2px white;
  display: flex;
}

/*---------------LOGO-----------------*/

.container {
  position: relative;
  height: 100%;
}

canvas {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

.title {
  margin-left: 20px;
}

.title h1 {
  color: white;
  font-size: 48px;
}

/* ------------LOGO------------- */


td {
  width: 25px;
  height: 25px;
  border: solid 1px rgba(133, 180, 250, 0.758) !important;
  display: inline-block;
  font-weight: lighter;
}

.start {
  background-color: green;
}
.end {
  background-color: red;
}
.unvisited {
  background-color: white;
}
.wall {
  background-color: rgb(24, 36, 108);
}
.visited {
  animation-delay: 0;
  animation-direction: alternate;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-name: visited;
}
.shortest-path {
  animation-delay: 100ms;
  animation-direction: alternate;
  animation-duration: 2s;
  animation-fill-mode: forwards;
  animation-play-state: running;
  animation-iteration-count: 1;
  animation-timing-function: ease-out;
  animation-name: shortest-path;
}
/* TOP */
.top {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: rgb(17, 67, 154);
  height: fit-content;
  padding: 20px 0;
}
.top_column {
  display: flex;
  align-items: center;
  justify-self: center;;
}
.title {
  font-size: 1.7rem;
  margin: auto 0;
  padding-left: 20px;
}
.title:hover {
  cursor: pointer;
  color: white;
  transition: 200ms;
}
.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.top ul li {
  display: inline-block;
  font-size: 1rem;
  cursor: pointer;
  font-weight: bold;
  font-family: sans-serif;
}
.nav-bar > li {
  display: inline-block;
}

.nav-icon {
  cursor: pointer;
  background-color: #f1f1f1;
  padding: 8px 16px;
  color: rgb(17, 67, 154);
  border: none;
  border-radius: 4px;
  font-weight: 600;
  transition: background-color 0.2s, transform 0.2s;
}

.nav-icon:hover {
  background-color: #ddd;
  transform: translateY(-2px);
}

.nav-icon .icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.icon span {
  font-size: 1.2rem;
}

#deploy-maze {
  font-size: 1.1rem;
  margin-left: 10px;
}

.dropdown {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-radius: 4px;
  opacity: 0;
  transform: translateY(-10px);
  transition: opacity 0.3s, transform 0.3s;
}

.dropdown a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  transition: background-color 0.2s;
}

.dropdown a:hover {
  background-color: #f1f1f1;
}

.show {
  display: block;
  opacity: 1;
  transform: translateY(0);
}


.nav-bar li.not-algo:hover {
  color: rgb(176, 17, 17);
  transition: 0.5s ease-out;
}

#vizualize-algorithm {
  font-size: 1.2rem;
  border: solid 2px blue;
  border-radius: 5px;
  padding: 10px 10px;
  transition: 200ms;
  font-weight: bold;
  font-family: sans-serif;
  background: linear-gradient(to left, rgb(169, 207, 132) 50%, lightblue 50%)
    right;
  background-size: 200%;
  transition: 0.2s ease-out;
}
#vizualize-algorithm:hover {
  cursor: pointer;
  background-color: rgb(37, 144, 194);
  color: white;
  background-position: left;
}
/* BOTTOM */
.bottom {
  background-color: rgb(17, 67, 154);
  text-align: center;
}
.bottom-container {
  display: flex;

  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr;
}
.bottom-container .container-row {
  font-size: 1rem;
  padding: 10px;

  font-weight: bold;
}
@keyframes visited {
  0% {
    transform: scale(0.3);
    background-color: rgba(251, 255, 2, 0.986);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(21, 165, 231, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(30, 188, 199, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(9, 110, 226, 0.938);
  }
}

@keyframes shortest-path {
  0% {
    transform: scale(1);
    background-color: rgba(234, 250, 86, 0.932);
    border-radius: 100%;
  }

  50% {
    background-color: rgba(197, 238, 15, 0.75);
  }

  75% {
    transform: scale(1.2);
    background-color: rgba(239, 255, 9, 0.75);
  }

  100% {
    transform: scale(1);
    background-color: rgba(228, 252, 15, 0.953);
  }
}

/* .visual-wrapper {
  width: 50%;
  margin: 0 auto;
} */
div.container > div.row {
  padding-bottom: 50px;;
}


header.titleContent {
    background-color: #ffffff;
    color: rgb(17, 67, 154);
    text-align: center;
    padding: 1rem;
}

div.content > nav{
  background-color: #ffffff;
    text-align: center;
    padding: 0.5rem;
}
div.content > nav > ul {
  list-style-type: none;

}

div.content > nav > ul > li {
    display: inline;
    margin: 0 0.5rem;
}

div.content > nav  a {
  color: rgb(17, 67, 154);
  font-size: 1.2rem;
  font-weight: bold;
  text-decoration: none;
  transition: 0.1s ease-in;
}
div.content > nav  a:hover {
  border-bottom: solid 2px rgb(17, 67, 154);
  
}

div.content > main {
  /* padding: 1rem; */
  width: 100%;
  display: flex;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
div.content > main >  section {
  margin-bottom: 2rem;
 
}


/* Glossary */

#visual-glossary {
  width: 80%;
}

.visual-glossary-container {
  color: rgb(137, 137, 154);
}

.glossary-title {
  font-size: 1.2rem;
}

.glossary-item .term-title {
  color: rgb(21, 40, 108);
  font-size: 1rem;
  border-left: solid 5px rgb(13, 115, 13);
  padding-left: 6px;
  font-weight: bold;
}

.glossary-item .term-description {
  font-weight: 500;
  font-size: 0.9rem;
}


/* QUIZ */

/* Add this to your existing CSS file */
#quizzes-challenges {
  padding: 2rem;
  border-radius: 1rem;
  width: 80%;
  margin: 2rem auto;
}

.quiz-container {
  max-width: 600px;
  margin: 0 auto;
}

.quiz-title {
  font-size: 1.5rem;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin-bottom: 1rem;
}

.question-container {
  margin-bottom: 1rem;
}

.question {
  font-size: 1.1rem;
  font-weight: bold;
  margin-bottom: 0.5rem;
  color: rgb(21, 40, 108);
  font-weight: lighter;
}

.options {
  color: rgb(0, 0, 0);
}
.options input[type="radio"] {
  margin-right: 0.5rem;
}

.submit-button {
  background-color: #007BFF;
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1rem;
  margin: 1rem 0;
  cursor: pointer;
  border-radius: 0.25rem;
}

.submit-button:hover {
  background-color: #0056b3;
}


#runButton {
  display: inline-block;
  padding: 10px 20px;
  background-color: #3498db;
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}

#runButton:hover {
  background-color: #2980b9;
  color: #fff;
  box-shadow: 0px 3px 3px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
}

#runButton:focus {
  outline: none;
}

#runButton:active {
  transform: translateY(2px);
}


.foot {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  width: 100%;
  
}
.foot ul {
  font-size: 2rem;
  display: flex;
  grid-gap: 50px;
  justify-items: center;
  margin: auto;
  list-style: none;

}
.foot a {
  color: white;
  text-decoration: none;
  box-shadow: inset 0 -1px 0 hsla(0, 0%, 100%, 0.4);
}

.foot a:hover {
  box-shadow: inset 0 -1.2em 0 hsla(0, 0%, 100%, 0.4);
}

.foot li:last-child {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.foot li:hover ~ .hand {
  animation: wave-animation 0.3s infinite;
}

/* below is just for demo styling */

.foot div {
  display: flex;
  height: 50vh;
  width: 100%;
  background-color: rgb(17, 67, 154);
  line-height: 1.3;
  font-family: Menlo, monospace;
}


@keyframes wave-animation {
  0%,
  100% {
    transform: rotate(0deg);
  }
  25% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-15deg);
  }
}
